/* --------------------- for screen min-width: 960px --------------------- */

html {
    background-color: #f5f5f5;
}


/* --------------------- header --------------------- */

header {
    background-color: white;
    height: 3em;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header img {
    float: left;
    height: 8em;
    width: auto;
    padding-left: 1.5em;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 1em 20em 1em 20em;
}

nav ul li a {
    color: #000066;
    text-decoration: none;
    font-size: 1em;
    font-family: "trebuchet ms";
}

#currentlink {
    text-decoration: underline;
}

nav ul li a:hover,
nav ul li a:focus {
    color: darkgoldenrod;
}

header a:active {
    color: #779705;
}

header h1 {
    display: none;
}


/* --------------------- main --------------------- */

main {
    font-family: "trebuchet ms";
    font-size: 1em;
    line-height: 2em;
    color: #000066;
    padding-top: 4em;
}

section {
    width: 75%;
    margin: 0 auto;
}

h2 {
    font-family: "trebuchet ms";
    font-size: 1.9em;
    text-align: center;
    font-weight: bold;
    padding: 0.95em 0px 0.95em 0px;
    margin-bottom: 0.5em;
}

h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.4em;
}

strong {
    font-weight: bold;
    font-size: 1.2em;
    
}

#hanne, #developer, #architect {
    border-radius: 50%;
    margin: 0em 1em 5em 1em;
}

#developer{
    background-image: url('../img/developer.png');
    border-radius: 50%;
    height: 200px;
    width: 200px;
    transition: all 0.2s ease-in-out;
}

#developer:hover{
    background-image: url('../img/developer2.png');
}

#architect{
    background-image: url('../img/architect.png');
    border-radius: 50%;
    height: 200px;
    width: 200px;
    transition: all 0.2s ease-in-out;
}

#architect:hover{
        background-image: url('../img/architect2.png');
}

section p {
    text-align: center;
}

.circles{
    display: flex;
    justify-content: center;
}

#edu{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

main a {
    color: #000066;
    text-decoration: none;
}

.part{
    line-height: 1.4;
    margin-bottom: 0.8em;
}

main a:hover,
main a:focus {
    color: darkgoldenrod;
}

#cv{
    border: 2px solid #00004d; 
    padding: 1em;
}

#cv:hover, #cv:focus {
    background-color: #00004d;
    color: white;
}

#skills{
    
}

.green{
    background-color:  #6BB2A6;
    margin-top: 2em;
    padding-bottom: 2em;
    color: white;
}

.squares{
    color: white;
    display: flex;
    justify-content: center;
}

.square{
    display: inline-block;
    width: 6em;
    padding: 2em 0 2em 0;
    border: 1px solid white;
    text-align: center;
    margin: 0.3em 0.3em 1.6em 0.3em;
}

.square:hover{
    background-color: #f5f5f5;
    color: #00004d;
}

#contactlinks{
    display: flex;
    justify-content: center;
}

#linkedin, #github {
    margin: 0 1em 0 1em;
}

#contactlinks p{
    color: #00004d;
    font-weight: bold;
    margin-top: 2em;
}


/* --------------------- footer --------------------- */

footer {
    background-color: white;
    height: 4em;
    color: #00004d;
    font-size: 1em;
    font-family: "trebuchet ms";
    margin-top: 2.6em;
    clear: both;
}

footer p {
    display: inline-block;
}

footer p:first-child {
    margin: 1.6em 3em;
}

footer p:last-child {
    float: right;
    margin-right: 3.3em;
    margin-top: 0.3em;
}

footer img {
    height: 2.5em;
    width: auto;
    margin-top: 0.6em;
}


/* --------------------- form --------------------- */

form {
    width: 65%;
    margin: 0 auto;
    margin-top: 0.6em;
    border: solid 2px white;
    border-radius: 5px;
}

form p {
    text-align: center;
}

legend {
    display: none;
}

fieldset p:nth-child(5) {
    margin-bottom: 0.6em;
    color: #ffff90;
}

input,
select,
textarea {
    border: 2px solid white;
    border-radius: 8px;
    margin: 0.55em;
    padding: 0.2em;
    line-height: 0.7em;
    outline: 0 none;
    color: #006600;
    font-size: 15px;
    background-color: white;
    width: 26.5em;
}

input:focus,
select:focus,
textarea:focus,
label:focus {
    border: 2px solid white;
    border-radius: 0.55em;
    padding: 0.2em;
    line-height: 0.7em;
    outline: 0 none;
    background-color: #006600;
    color: white;
    width: 26.5em;
}

label,
input,
textarea {
    display: inline-block;
}

select {
    width: 27em;
}

select:focus {
    width: 27em;
}

label {
    width: 9em;
    text-align: right;
}

input[type="submit"] {
    width: 7em;
    margin-bottom: 1.5em;
}

label[for=opmerkingen] {
    width: 21em;
    margin-top: 0.6em;
    text-align: center;
}

label[for=voornaam],
label[for=naam],
label[for=emailadres],
label[for=workshop] {
    color: #ffff90;
}


/* --------------------- for screen max-width: 960px --------------------- */

@media screen and (max-width: 960px) {
    /* --------------------- header --------------------- */
    
    nav ul {
        padding: 1em 10em 1em 10em;
    }
    
    /* --------------------- main --------------------- */
    section {
        width: 85%;
    }
    
    /* --------------------- form --------------------- */
    form {
        width: 80%;
    }
    label,
    input,
    textarea,
    label[for=opmerkingen],
    select,
    input[type="submit"] {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    label:focus,
    input:focus,
    textarea:focus,
    label[for=opmerkingen],
    select:focus,
    input[type="submit"]:focus {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    label {
        text-align: center;
    }
    textarea {
        margin-top: 0em;
        margin-bottom: 1.5em
    }
    label[for=opmerkingen] {
        margin-top: 1em;
    }
    input {
        text-align: center;
    }
}


/* --------------------- for screen max-width 648px --------------------- */

@media screen and (max-width: 684px) {
    /* --------------------- header --------------------- */
    
    nav ul {
        padding: 1em 1em 1em 1em;
    }
    
    /* --------------------- main --------------------- */
    section {
        width: 95%;
    }
    article section h4 {
        float: none;
        padding: 1em;
    }
    article section time {
        float: none;
        display: block;
        padding: 0.1em;
        padding-left: 1.1em;
        border-top: solid 1px white;
    }
    section section {
        height: auto;
    }
    section section img {
        float: none;
        width: 96.5%;
        height: auto;
        margin-left: 1.7%
    }
    section section h4 {
        float: none;
        width: 92%;
        text-align: center;
        padding-top: 0;
    }
    section section p {
        float: none;
        width: 94%;
    }
    section section ul {
        float: none;
        width: 92%;
        margin-bottom: 1em;
    }
    section section time {
        border: none;
        padding: 0.1em 0 0.1em 0;
    }
    #links {
        width: 95%;
        margin-left: auto;
    }
    #links img {
        width: 95%;
        height: auto;
    }
    #rechts {
        width: 95%;
        margin-right: auto;
    }
    address {
        width: 99%;
    }
    address p {
        padding-left: 0.6em;
    }
    #map {
        width: 94%;
    }
    /* --------------------- footer --------------------- */
    footer {
        font-size: 0.8em;
        letter-spacing: 0.5px;
    }
    footer p:first-child {
        display: none;
    }
    footer a:nth-child(2) {
        display: none;
    }
    footer p:last-child {
        float: none;
        display: block;
        margin-left: 44%;
        margin-right: auto;
        padding-top: 0.3em;
    }
    /* --------------------- form --------------------- */
    form {
        width: 95%;
    }
    input,
    textarea,
    select {
        width: 80%;
    }
    label:focus,
    input:focus,
    textarea:focus,
    select:focus {
        width: 80%;
    }
}