html, body {  
background-color:  #004d99;
}

body {
    width: 80%;
    margin: 0 auto;
}

header img {
 width: 100%;   
}

nav {
    width: 100%;
    margin: 0 auto;    
    background-color: #fff;  
}

nav ul{
    list-style:none;
    margin:0 auto;
    padding:0;
    text-align:center;
}

nav ul li{
    display:inline;
    margin: 10px;
}

nav ul a{
    display:inline-block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

nav ul a:link, nav ul a:visited{
    color: #000;
}

nav ul a:hover, .active{
font-weight: bolder;
color: #6099f5;
text-decoration: underline;
}

article {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #fff;
    min-height: 640px;
    padding-bottom: 5em;
}

section {
    width: 40%;
    float: left;
    margin: 0 auto;
    font-family: sans-serif;
    color: #000;
    text-align: left;
    font-size: 16px;
    padding-left: 60px;
    padding-top: 40px;
    min-height: 100%;
}

section img {
    width: 80%;   
}

#salco{
    margin: 3em 0 4em 0;
}

#ucll {
    margin: 4.5em 0 0em 0;
}

#salcosection{
    
}

footer{
    color: white;
    text-align: center;
    margin-top:20px;
    height:50px;
    background-color: #072a4d;
    border-radius: 10px 10px 0px 0px;
}
footer p {
    padding-top: 1em;
}

form{
    width:60%;
    margin: 0 auto;
}

label {
    color: white;
}

input[type=text], input[type=email]{
margin-bottom: 20px;
margin-top: 10px;
width:100%;
padding: 10px;
border-radius:5px;
border:1px solid #7ac9b7;
}

input[type=submit]
{
width:30%;
padding: 5px;
border-radius:5px;
border:1px solid #7ac9b7;
background-color: #4180C5;
color: aliceblue;
font-size:15px;
cursor:pointer;
margin-bottom: 10px;
}

input[type=submit]:hover
{
background-color: #416eb5;
border: 1px solid #01faf1;
}

textarea{
width:100%;
height: 10em;
margin-top: 10px;
border:1px solid #7ac9b7;
border-radius:5px;
margin-bottom: px;
resize:none;
padding: 10px;
}

input[type=text]:focus,textarea:focus {
border-color: #4697e4;
}
